# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
edufruit_env/

# Data
*.zip
*.tar.gz


# Models (optional - comment out if you want to version models)
# models/*.h5

# Outputs
outputs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/